@define-color background #282828;
@define-color foreground #FAFAFA;

* {
    font-family: "Jetbrains Mono Nerd Font";
    border: none;
    border-radius: 0px;
    font-size: 16px;
}

window#waybar {
    background: transparent;
/*    background: rgba(50, 50, 55, 0.8);*/
    border-radius: 8px;
}

window#waybar.hidden {
}

.modules-left {
    background: @background;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0 1rem;
}

.modules-center {
    background: #282828;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0 1rem;
}

.modules-right {
    background: #282828;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0 1rem;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    border-radius: 4px;
    padding: 0px 8px;
    margin: 0px 8px 0px 8px;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    color: #83a598;
    animation: ws_active 20s ease-in-out 1;
}

#workspaces button:not(.active):not(.empty):not(:hover) {
    color: #fbf1c7;
}

#workspaces button:hover {
    background: #504945; 
    color: #fbf1c7;
    padding: 0px 8px;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#workspaces button.active:hover {
    color: #83a598;
}
 
#clock,
#cpu,
#memory,
#tray,
#network,
#pulseaudio,
#temperature,
#workspaces,
#custom-power,
#custom-audio-icon,
#custom-network-icon,
#custom-cpu-temp,
#custom-gpu-usage,
#custom-memory-icon {
    color: #fbf1c7;
    opacity: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

#custom-cpu-icon,
#custom-audio-icon,
#custom-network-icon,
#custom-memory-icon {
    font-size: 16px;
    color: #504945;
}

